{% if(app.session.flashbag.has('error')) %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Attention</h3>
        </div>
        <div class="panel-body">
            {% for flashMessage in app.session.flashbag.get('error') %}

                {{ flashMessage }} <br/>

            {% endfor %}
        </div>
    </div>
{% endif %}
 {% if(app.session.flashbag.has('info')) %}
     <div class="panel panel-info">
         <div class="panel-heading">
             <h3 class="panel-title">Information</h3>
         </div>
         <div class="panel-body">
             {% for flashMessage in app.session.flashbag.get('info') %}

                 {{ flashMessage }} <br/>

             {% endfor %}
         </div>
     </div>
 {% endif %}
 {% if(app.session.flashbag.has('warning')) %}
     <div class="panel panel-warning">
         <div class="panel-heading">
             <h3 class="panel-title">Message</h3>
         </div>
         <div class="panel-body">
             {% for flashMessage in app.session.flashbag.get('warning') %}

                 {{ flashMessage }} <br/>

             {% endfor %}
         </div>
     </div>
 {% endif %}
 {% if(app.session.flashbag.has('primary')) %}
     <div class="panel panel-primary">
         <div class="panel-heading">
             <h3 class="panel-title">Primaire</h3>
         </div>
         <div class="panel-body">
             {% for flashMessage in app.session.flashbag.get('primary') %}

                 {{ flashMessage }} <br/>

             {% endfor %}
         </div>
     </div>
 {% endif %}
{% if(app.session.flashbag.has('success')) %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Confirmation</h3>
        </div>
        <div class="panel-body">
            {% for flashMessage in app.session.flashbag.get('success') %}

                {{ flashMessage }} <br/>

            {% endfor %}
        </div>
    </div>
{% endif %}